<div class="container">
<div class="jumbotron">
	<h1>Log In!</h1>
</div>
	<div class="row">
	<%= form_for :login do |f| %>
		<div class="class">
			<%= f.label :username %>
			<%= f.text_field :username %>
		</div>
		<div class="class">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>
		<div>
			<%= f.submit 'Log In' %>
		</div>
		<div>
			<%= link_to "Join Now", new_user_path, class: "btn btn-info" %>
		</div>
		<div>
			<%= link_to "Back to List", users_path, class: "btn btn-info" %>
		</div>
		<% end %>
	</div>
</div>