<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<img class="img-circle" style="float: left; max-width: 200px; max-height: 200px" src="http://fillmurray.com/200/200">


	<h3><%= @user.gender %>, <%= @user.age %> years old, looking for <%= @user.looking_for %></h3>


<%= link_to "Edit this user!", edit_user_path(@user), class: "btn btn-warning" %>
<%= link_to "Back to the list!", users_path, class: "btn btn-info" %>
<%= link_to "Delete this user!", user_path, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?"} %>